arxiv==1.4.2
beautifulsoup4==4.11.1
conceptnet_lite==0.1.27
fake_useragent==0.1.11
fastapi==0.85.0
gensim==3.8.3
hyperopt==0.2.7
joblib==1.1.0
keybert==0.6.0
keyphrase_vectorizers==0.0.10
lxml==4.8.0
matplotlib==3.5.2
mysql_connector_repackaged==0.3.1
nltk==3.6.1
numpy==1.23.0
optuna==2.10.1
pandas==1.4.4
pydantic==1.8.2
pyLDAvis==3.3.1
python_dateutil==2.8.2
regex==2021.4.4
requests==2.28.1
scikit_learn==1.1.2
scikit_optimize==0.9.0
scipy==1.9.0
selenium==4.5.0
spacy==3.4.0
webdriver_manager==3.5.2
wikipedia==1.4.0
